@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$primary: #4c8294;
$danger: #de656b;
$warning: #ffc000;
$success: #92d050;

$background: $white-ter;
$scheme-main: $white-ter;
$scheme-main-bis: $white-ter;

@import "../node_modules/bulma/bulma.sass";
