@import "510.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/bulma-tooltip/dist/css/bulma-tooltip.min.css";

html {
    background: $white-ter;
}

.router-content {
    min-height: 550px;
    margin-bottom: 30px;
}

.components-image {
    width: 50%;
    margin: 30px auto;
    display: block;
}

.term-column-header {
    width: 20%;
}

.level {
    margin-bottom: 3rem !important;
}

.field {
    margin-bottom: 1rem;
}

.field-label {
    text-align: left;
    margin-right: 0;
    margin-left: 2rem;
}

.field-body {
    flex-grow: 0;
    margin-right: 2rem;
}

.round-interaction {
    height: 128px;
    width: 128px;
    background: $white;
    border-radius: 290486px;
    padding-top: 32px;
}

.download-report-interaction {
    cursor: pointer;

    &:hover {
        &,
        & .icon {
            color: $primary;
        }
    }
}

.badge-interaction {
    cursor: pointer;

    .title {
        width: 80%;
        margin: 12px auto;
    }

    &:hover {
        .heading {
            color: $primary;
        }
    }
}

.round-score {
    height: 128px;
    width: 128px;
    line-height: 110px;
    border-radius: 290486px;
}

.round-score-heading {
    position: absolute;
    width: 100%;
    top: 75px;
}

@media screen and (min-width: 1025px) {
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block !important;
    }
    .navbar-item.is-hoverable:focus-within .navbar-dropdown {
        display: none;
    }
}
